.visualization-imag {
    width: 100%;
    height: auto;
    margin-right: 25px;
    margin-bottom: 25px;
}

.launch-imag {
    float: left;
    width: 40%;
    margin-right: 35px;
}

th, td {
    padding: 5px;
    text-align: left;
}

.visualization {
    /* width: 100%; */
    padding: 50px 50px 0 10px;
}

.emphasis {
    font: italic bold 15px/30px Georgia, serif;
}

table.team {
    width: 50%;
}

th.team {
    text-align: center;
}

div.team {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
img.team {
    width:60px;
    height: auto;
}

#footer {
    border-top: 1px solid #00F0FF;
    height: 25px;
    margin-top: -15px;
    padding: 5px 0;
    width: 100%;
    position: relative;  /*use relative position*/
  }


