.visualization-imag {
    width: 100%;
    height: auto;
    margin-right: 25px;
    margin-bottom: 25px;
}

.launch-imag {
    float: left;
    width: 40%;
    margin-right: 35px;
}

th, td {
    padding: 5px;
    text-align: left;
  }

.visualization {
    /* width: 100%; */
    padding: 50px 50px 0 10px;
}
